css h1,
h2,
h3,
p {
    margin: 0;
}
body {
    font-family: inter;
}

ul {
    list-style-type: none;
    margin: o;
    padding: 0;

}

address {
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}
.contayner {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


.header-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 45;
    width: 160px;
height: 8px;
gap: 0px;
opacity: 0px;

}

img {
    display: block;
    width: 100%;
    height: auto;
}

.text-hero {
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
line-height: 1.36px;

}
.features {
    display: flex;
}





.hero {
    width: 1600px;
    background-image: url(./imeges/background.png);
    background-position: center;
    background-size: cover;
    text-align: left;
    color: #ffffff;
    padding-top: 200px;
    padding-bottom: 200px;


}

.email-footer {
    color: #2F303A;

}

.text-section {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
    
}

.hero-icon {
    fill: #ffffff;
}




.button {
    position: absolute;
    word-spacing: 12px;
    left: 0;
    bottom: 0;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 23px;
    width: 100%;
    color: #fefcfc;
    background-color: rgba(0, 0, 0, 0.36)
}


.button-hero {
    display: flex;
    width: 152px;
    height: 30px;
    top: 440px;
    gap: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
}
.class-ul {
    display: flex;
    width: 1170px;
    height: 248px;
    top: 774px;
    gap: 7px;
    opacity: 23px;


}

.div {
    display: flex;
    gap: 13;
}

.people {
    display: flex;
opacity: 1px;
    gap: 0 ;
    top: 23;
    word-spacing: 0px;
    
}

.hero-link {
    display: flex;
    gap: 13;
    
}
.header-contacts {
    display: flex;
    margin-left: auto;
}








.text .text-list {
 position: relative ;
    opacity: 1px;
    gap: 0;
    top: 23;

    

}

.header-logo {
    width: 145px;
    

}

.team {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    


}

.h2 {
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;

    



}

.text-li {

    font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42.19px;
letter-spacing: 0.03em;
text-align: center;



   
}

.contayner text {
    display: flex;
    gap: 30px;

}

.features-text {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    

}

.features-title {
    font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16.41px;
letter-spacing: 0.03em;

}

.people-title {
    color: #212121;
    font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
letter-spacing: 0.03em;

}

.people-text {
    color: #757575; 
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 18.75px;
letter-spacing: 0.03em;

}




.imeges3 {
    word-spacing: 12px;
}

.footer {
    background: #2F303A;
    color: #ffffff;

}

.address {
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;

}

.address-hero {
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;

}